<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Balancer Dashboard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/static/assets/fa/css/font-awesome.min.css">

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>


</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="/static/assets/img/logotipo_IT.png">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    SmartLighting Balancer
                </a>
            </div>
            <ul class="nav">

                <li class="active">
                    <a href="/gateways">
                        <i class="pe-7s-network"></i>
                        <p>Gateway's List</p>
                    </a>
                </li>

                <li>
                    <a href="/rules">
                        <i class="pe-7s-note2"></i>
                        <p>Rules List</p>
                    </a>
                </li>

                <li>
                    <a href="/devices">
                        <i class="pe-7s-share"></i>
                        <p>Devices List</p>
                    </a>
                </li>

                <li>
                    <a href="/settings">
                        <i class="pe-7s-science"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="/logout">
                        <i class="pe-7s-rocket"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="header">
                                        <h4 class="title">Gateways List</h4>
                                        <p class="category">Here is a list of your registered gateways.</p>
                                    </div>

                                </div>

                                <div class="col-md-2">
                                <div class="header">

                                    <button class="btn btn-default btn-sm active" onClick="window.location.reload()">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                    </div>

                                </div>
                            </div>
                            <div class="content table-responsive">
                            <!--<a class="btn btn-primary" id="refresh" aria-label="Skip to main navigation">
                              <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>-->
                                <table class="table table-hover table-striped" id="mytable">
                                    <thead>
                                        <th>ID</th>
                                        <th>Hostname</th>
                                        <th>Last HeartBeat</th>
                                        <th>No. Rules</th>
                                        <th>Satus</th>
                                        <th>Details</th>

                                    </thead>
                                    <tbody>

                                        {% for item in gateways %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.hostname }}</td>
                                                <td>{{ item.last_heartbeat }}</td>
                                                <td>{{ item.rules }}</td>
                                                {% if item.status == 'UP' %}
                                                    <td><span class="label label-success">{{ item.status }}</span></td>
                                                    <td>
                                                    <button id="{{ item.hostname }}on" type="button" class="btn btn-default btn-sm disabled" onclick="buttonOnClick('{{ item.hostname }}')" >ON</button>
                                                    <button id="{{ item.hostname }}off" type="button" class="btn btn-default btn-sm active" onclick="buttonOffClick('{{ item.hostname }}')" >OFF</button>
                                                    </td>
                                                {% else %}
                                                    <td><span class="label label-danger">{{ item.status }}</span></td>
                                                    <td>
                                                    <button id="{{ item.hostname }}on" type="button" class="btn btn-default btn-sm active" onclick="buttonOnClick('{{ item.hostname }}')" >ON</button>
                                                    <button id="{{ item.hostname }}off" type="button" class="btn btn-default btn-sm disabled" onclick="buttonOffClick('{{ item.hostname }}')" >OFF</button>
                                                    </td>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 SmartLighting. All Rights Reserved. Created by Bernardo Ferreira
                </p>
            </div>
        </footer>


    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="/static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Charts Plugin -->
    <script src="/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>


    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="/static/assets/js/light-bootstrap-dashboard.js"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="/static/assets/js/demo.js"></script>

    <script>
        var client = new Paho.MQTT.Client("sonata4.aws.atnog.av.it.pt", 8080, "dash");
        client.onMessageArrived = onMessageArrived;
        var options = {

             //connection attempt timeout in seconds
             timeout: 3,

             //Gets Called if the connection has successfully been established
             onSuccess: function () {
                 console.log("onConnect");
                client.subscribe("/refresh");
             },

             //Gets Called if the connection could not be established
             onFailure: function (message) {
                 alert("Connection failed: " + message.errorMessage);
             }

         };
         function onMessageArrived(message) {
              console.log("RELOAD");
              location.reload();
            }

        //Attempt to connect
        client.connect(options);



        function buttonOnClick(host) {
            var message = new Paho.MQTT.Message(host);
            message.destinationName = "/signalOn";
            message.qos = 1;
            client.send(message);
            document.getElementById(host+"on").classList.remove('active');
            document.getElementById(host+"on").classList.add('disabled');

        }
        function buttonOffClick(host) {
            var message = new Paho.MQTT.Message(host);
            message.destinationName = "/signalOff";
            message.qos = 1;
            client.send(message);
            document.getElementById(host+"off").classList.remove('active');
            document.getElementById(host+"off").classList.add('disabled');


        }
        </script>

    <!--<script>
        $( "#refresh" ).click(function() {

            $.ajax({
              url: "/gateways",
              type: "get",
              data: {},
              success: function(response) {
                console.log(response)
                location.reload();
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
        });
        $(document).ready(function() {

            setTimeout(function(){
                location.reload();
            }, 10000);

        });
    </script>-->

</html>
