<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/static/images/favicon.ico">
        <title>Rule Balancer Dashboard</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap-horizon.css" rel="stylesheet" >
        <link href="/static/css/style.css" rel="stylesheet" >
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-id="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Rule Balancer</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <ul class="nav navbar-nav"></ul> -->
                </div>
            </div>
        </nav>
        <div id="event" class="container plant-container center-block"></div>
        <!--{% include 'modals.html' %}-->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/eventHandler.js"></script>
    </body>
</html>
